<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Big-Data-in-Finance:-Part-III-(Lecture-1)--Lecture-1:-Introduction" data-toc-modified-id="Big-Data-in-Finance:-Part-III-(Lecture-1)--Lecture-1:-Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Big Data in Finance: Part III (Lecture 1) <br><br> Lecture 1: Introduction</a></span></li><li><span><a href="#Introduction" data-toc-modified-id="Introduction-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Goals" data-toc-modified-id="Goals-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Goals</a></span></li><li><span><a href="#Schedule" data-toc-modified-id="Schedule-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Schedule</a></span></li><li><span><a href="#Prerequisites" data-toc-modified-id="Prerequisites-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Prerequisites</a></span></li><li><span><a href="#Prerequisites" data-toc-modified-id="Prerequisites-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Prerequisites</a></span></li><li><span><a href="#Homework" data-toc-modified-id="Homework-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Homework</a></span></li></ul></li><li><span><a href="#What-is-Factor-Investing?" data-toc-modified-id="What-is-Factor-Investing?-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>What is Factor Investing?</a></span><ul class="toc-item"><li><span><a href="#Multifactor-Asset-Pricing-Model" data-toc-modified-id="Multifactor-Asset-Pricing-Model-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Multifactor Asset Pricing Model</a></span></li><li><span><a href="#Search-for-$\mathbf{f^*}$-in-in-the-Space-of-Returns" data-toc-modified-id="Search-for-$\mathbf{f^*}$-in-in-the-Space-of-Returns-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Search for $\mathbf{f^*}$ in in the Space of Returns</a></span></li><li><span><a href="#The-Standard-in-the-Literature" data-toc-modified-id="The-Standard-in-the-Literature-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The Standard in the Literature</a></span></li><li><span><a href="#How-to-Construct-a-``Factor&quot;?" data-toc-modified-id="How-to-Construct-a-``Factor&quot;?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>How to Construct a ``Factor"?</a></span></li></ul></li><li><span><a href="#What-is-Compustat-and-CRSP?" data-toc-modified-id="What-is-Compustat-and-CRSP?-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>What is Compustat and CRSP?</a></span><ul class="toc-item"><li><span><a href="#Compustat-Description" data-toc-modified-id="Compustat-Description-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Compustat Description</a></span></li><li><span><a href="#CRSP-Description" data-toc-modified-id="CRSP-Description-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>CRSP Description</a></span></li></ul></li><li><span><a href="#What-is-WRDS?" data-toc-modified-id="What-is-WRDS?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>What is WRDS?</a></span></li><li><span><a href="#Getting-Started" data-toc-modified-id="Getting-Started-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Getting Started</a></span><ul class="toc-item"><li><span><a href="#Compustat-(S)" data-toc-modified-id="Compustat-(S)-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Compustat (S)</a></span></li><li><span><a href="#CRSP-(S)" data-toc-modified-id="CRSP-(S)-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>CRSP (S)</a></span></li><li><span><a href="#Download-the-data" data-toc-modified-id="Download-the-data-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Download the data</a></span><ul class="toc-item"><li><span><a href="#First-try" data-toc-modified-id="First-try-6.3.1"><span class="toc-item-num">6.3.1&nbsp;&nbsp;</span>First try</a></span></li><li><span><a href="#Second-Try" data-toc-modified-id="Second-Try-6.3.2"><span class="toc-item-num">6.3.2&nbsp;&nbsp;</span>Second Try</a></span></li></ul></li><li><span><a href="#Good-Habit-in-Research" data-toc-modified-id="Good-Habit-in-Research-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Good Habit in Research</a></span></li></ul></li></ul></div>

# Big Data in Finance: Part III (Lecture 1) <BR><BR> Lecture 1: Introduction 
    
**Instructor** <BR>
Ritt Keerati, ritt.keerati@gsb.columbia.edu
    
**TA's:** <BR>
Meha Sadasivam, MSadasivam21@gsb.columbia.edu <BR>
Daheng Yang, dyang22@gsb.columbia.edu

# Introduction

## Goals

1. Get familiar with Compustat and CRSP databases
2. One application in finance: factor investing

## Schedule

* Lecture 1: Introduction, CRSP and Compustat basics
* Lecture 2: Application to asset pricing: Factor replication
* Lecture 3: Quantitative investing

## Prerequisites
* Install Anaconda
    * It can be downloaded for free at [download Anaconda](https://www.anaconda.com/distribution/)
    * I am going to be using Python 3.8.12
* Working knowledge of Python
    * I recommend using PyCharm as Python IDE for Python 3. It can be downloaded for free at [download PyCharm](https://www.jetbrains.com/pycharm/download/#section=windows).
    * Student and faculty members license are free, you only need to apply at [PyCharm license](https://www.jetbrains.com/student/)

## Prerequisites
* Working knowledge of GIT
    * All course material will be available in Bitbucket repository. Access [here](https://bitbucket.org/liramota/big_data2020/src)
    * Make sure to setup a Bitbucket account
* WRDS direct connection to Python
    * WRDS has built a Python module that allows direct download of data sets from WRDS services into Python. This is very convenient and we are going to use this tool in class
    * In order to use the direct download you need to setup your connection beforehand by following the instructions [here](https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-from-your-computer/)

## Homework

* There will be three homeworks.
	* Due Thursday 03/03: Playing with CRSP and Compustat
	* Due Wednesday 03/24: Replication exercise of Fama and French (2015) five factors (MktRF, SMB, HML, RMW, CMA) and Momentum
	* Due Monday 03/31: Creating and evaluating your own quant-investing strategy
* I will provide skeleton .py codes and you should develop your code filling the gaps of the code structure
* How to deliver your homework? Upload on Canvas a .zip file with:
    * your .py files,
    * .html file produced using jupyter notebooks with your results,

# What is Factor Investing?

## Multifactor Asset Pricing Model

* Multifactor models of the sdf posit that:
  $$ m^* = a + \mathbf{b}'\mathbf{f^*} \quad \text{with} \quad E[m^*R_i] = 0$$
  
    for any excess return $R_i$ and a set of traded ``factors'' (long-short portfolio returns) $\mathbf{f^*}$
* This implies that 
  $$ E[R_i] = {\bf \beta}_i{\bf \lambda} $$
  where ${\bf \lambda}$ is market price of risk ($=E[{\bf f}^*]$), and ${\bf \beta}_i$ is (the vector of)
  projection coefficients of $R_i$ onto $\mathbf{f^*}$

* Which is the motivation for time series regressions like:
$$ (R_{i,t}\! -\!R_{f,t}) = \alpha_i+ \beta_{m} \cdot (R_{m,t}\!-\!R_{f,t}) + \beta_{SMB}\cdot {\rm SMB}_t + \beta_{HML} \cdot {\rm HML}_t + \epsilon_t $$

## Search for $\mathbf{f^*}$ in in the Space of Returns
* Search in the space of returns for $\mathbf{f}^*$. But how?
	* Timeline:
		1. Chen, Roll and Ross (1986) economic factors:
            * Evidence of that there were premia associated with innovations in macroeconomic variables, 
            but the Sharpe ratios associated with these portfolios were small
		2. Connor and Korajczyk (1988) statistical factors using PCA:
			* Effective in explaining the covariance structure. However, all but the first PC -- which looks like the market -- did not carry much of a premium
		3. Fama and French (1993): characteristic sorted portfolios:
			* ``The 3-factor model does a good job in explaining the cross-section of average returns"

## The Standard in the Literature
* The Fama and French (1993) characteristic sort procedure has become standard for forming **factor-portfolios**
  * That is, find a characteristic that is associated with expected returns, e.g. book-to-market, and create a corresponding factor portfolio by sorting on this characteristic
  * The resulting factor portfolio goes long high- and short low-characteristic stocks
* Examples: 
    * Fama and French (2015) - SMB, HML, RMW and CMA; 
    * Carhart (1997) - MOM; 
    * Daniel and Moskowitz (2016) - WML; 
    * Pastor and Stambaugh (2003) - LIQ; 
    * Asness, Frazzini and Pedersen (2013) - QMJ; 
    * Lustig, Roussanov and Verdelhan (2011) - Currency markets

## How to Construct a ``Factor"?
<img src="ff6.png" width="800" height="400">

# What is Compustat and CRSP?


## Compustat Description


* Compustat is a database of financial, statistical and market information on active and inactive global companies throughout the world. The service began in 1962.
* It is under the umbrella of Standard and Poor's many data sets: Compustat, Capital IQ, etc.
* What is the main use of Compustat data set in finance? Firms' fundamentals
    * In the US, all companies that have public traded securities must report accounting information in different formats, e.g., 10-K, 10-Q, S-1
    * Compustat is a compilation of information reported by firms in a standardized way
    
  Source: [Compustat Website](https://wrds-www.wharton.upenn.edu/documents/841/Understanding_The_Data_57jARh2.pdf)

* **Compustat Xpressfeed** is a data delivery system for Standard & Poorâ€™s Compustat data. 

    As of June 2007, for the **U.S.** and **Canada** publicly-traded companies, Xpressfeed offers:
    * Coverage for over 14,650 active companies and over 16,950 inactive companies
    * Coverage for over 15,700 active securities and over 20,850 inactive securities
    * Company fundamental annual data beginning in 1950
    * Company restated quarterly beginning in 1962
    * Company annual summary data (rolling 10 years from current annual 10 K)
    * Daily and monthly market data beginning in 1984
    * Monthly market data beginning in 1962.
    * Fiscal and calendar presentations of data
    * Period data (3 months, 6 months, 9 months, 12 months)
    * Period and 12 months moving data for North America quarterly data. 
    
  Source: [Compustat Website](https://wrds-www.wharton.upenn.edu/documents/841/Understanding_The_Data_57jARh2.pdf)

* As of June 2007, Xpressfeed offers the following International (excluding U.S. and Canadian) data:

    * Coverage for over 24,350 active companies and over 10,000 inactive companies
    * Coverage for over 25,900 active securities and over 13,250 inactive securities
    * Annual company fundamental data beginning in 1988
    * Historical semiannual company data beginning in 1996
    * Restated semi-annual company data beginning first quarter of 2005
    * Historical quarterly data beginning fourth quarter of 2003
    * Restated quarterly company data beginning first quarter of 2005
    * Daily market data beginning in 1984

## CRSP Description 

* The CRSP U.S. Stock database contains end-of-day and month-end prices on primary listings for the NYSE, NYSE MKT, NASDAQ, and Arca exchanges, along with basic market indices
* CRSP databases are characterized by their comprehensive corporate action information and highly accurate total return calculations

Source: [Compustat Website](https://wrds-www.wharton.upenn.edu/pages/support/manuals-and-overviews/crsp/stocks-and-indices/overview-crsp-us-stock-database/)

* What can we find in CRSP?
    * Price and quote data (e.g. Open, close, bid/low, ask/high)
    * Holding period returns with and without dividends
    * Excess returns and other derived data items
    * Market capitalization
    * Shares outstanding
    * Trading volume
    * Security delisting information
    * Corporate actions
    * Identifiers, descriptors, and supplemental data items

* One very valuable information: PERMNO/PERMCO

* CRSP Coverage:
    * Stocks (not bonds)
    * NYSE: All data series begin on December 31, 1925
    * NYSE MKT: All data series begin on July 2, 1962
    * NASDAQ: All data series begin on December 14, 1972
    * Arca: All data series begin March 8, 2006

# What is WRDS?

* [Wharton Research Data Services](https://wrds-www.wharton.upenn.edu/)

# Getting Started

In [1]:
%matplotlib inline

# Packages 
import wrds
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import time
from time import strptime, strftime

# Setups
pd.set_option("display.max_rows", 100) # max number or rows to be displayed 
plt.rcParams['figure.figsize'] = [10, 6]

In [2]:
# Set WRDS Connection
db = wrds.Connection(wrds_username='rkeerati') # make sure to configure wrds connector before hand.

Loading library list...
Done

In [3]:
# List all libraries in WRDS
libs = db.list_libraries()
libs.__class__ # Notice that libs is a list

# Transform libs to a Pandas data frame to have a better display
libs = pd.DataFrame({'libraries':libs}) 
libs.sort_values(['libraries']).head(10)

            libraries
15                aha
20         aha_sample
22            ahasamp
202             audit
248     audit_acct_os
64   audit_audit_comp
135      audit_common
25   audit_corp_legal
137          auditsmp
252      auditsmp_all

## Compustat (S)

* comp
* comp_*: see list [here](https://wrds-www.wharton.upenn.edu/pages/about/data-vendors/sp-global-market-intelligence/)
* compa: annual updates
* compm: monthly updates
* compd: daily updates (recommended with caution!)

## CRSP (S)

* crsp*: see list [here](https://wrds-www.wharton.upenn.edu/pages/about/data-vendors/center-for-research-in-security-prices-crsp/)
* crspa: annual updates 
* crspd: daily updates
* crspq: quartely updates (our subscription includes this one at CBS)

## Download the data

### First try

In [15]:
fund_table = 'funda' # 'fundq' annual or quarterly 
varlist = ['cusip', 'conm', 'fyear', 'fyr', 'fdate', 'apdedate', 'cik', 'at']
query_apple = """SELECT gvkey, datadate, {}
                 FROM comp.{}
                 WHERE GVKEY='001690'""".format(", ".join(varlist), fund_table)
print(query_apple)
del(fund_table, varlist)

SELECT gvkey, datadate, cusip, conm, fyear, fyr, fdate, apdedate, cik, at
                 FROM comp.funda
                 WHERE GVKEY='001690'

In [16]:
compa1 = db.raw_sql(query_apple, date_cols=['datadate', 'fdate', 'apdedate'])
del(query_apple)

OperationalError: (psycopg2.OperationalError) could not receive data from server: Operation timed out
SSL SYSCALL error: Operation timed out

[SQL: SELECT gvkey, datadate, cusip, conm, fyear, fyr, fdate, apdedate, cik, at
                 FROM comp.funda
                 WHERE GVKEY='001690']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [13]:
compa1[20:30]

,gvkey,datadate,cusip,conm,fyear,fyr,fdate,apdedate,cik,at
0,001690,1980-09-30,037833100,APPLE INC,1980.0,9.0,NaT,NaT,0000320193,65.350
1,001690,1981-09-30,037833100,APPLE INC,1981.0,9.0,NaT,NaT,0000320193,254.838
2,001690,1982-09-30,037833100,APPLE INC,1982.0,9.0,NaT,NaT,0000320193,357.787
3,001690,1983-09-30,037833100,APPLE INC,1983.0,9.0,NaT,NaT,0000320193,556.579
4,001690,1984-09-30,037833100,APPLE INC,1984.0,9.0,NaT,NaT,0000320193,788.786
5,001690,1985-09-30,037833100,APPLE INC,1985.0,9.0,NaT,NaT,0000320193,936.177
6,001690,1986-09-30,037833100,APPLE INC,1986.0,9.0,NaT,NaT,0000320193,1160.128
7,001690,1987-09-30,037833100,APPLE INC,1987.0,9.0,NaT,NaT,0000320193,1477.931
8,001690,1988-09-30,037833100,APPLE INC,1988.0,9.0,NaT,NaT,0000320193,2082.086
9,001690,1989-09-30,037833100,APPLE INC,1989.0,9.0,NaT,NaT,0000320193,2743.899
10,001690,1990-09-30,037833100,APPLE INC,1990.0,9.0,NaT,NaT,0000320193,2975.707
11,001690,1991-09-30,037833100,APPLE INC,1991.0,9.0,NaT,NaT,0000320193,3493.597
12,001690,1992-09-30,037833100,APPLE INC,1992.0,9.0,NaT,NaT,0000320193,4223.693
13,001690,1993-09-30,037833100,APPLE INC,1993.0,9.0,NaT,NaT,0000320193,5171.412
14,001690,1994-09-30,037833100,APPLE INC,1994.0,9.0,NaT,NaT,0000320193,5302.746
15,001690,1995-09-30,037833100,APPLE INC,1995.0,9.0,NaT,NaT,0000320193,6231.000
16,001690,1996-09-30,037833100,APPLE INC,1996.0,9.0,NaT,NaT,0000320193,5364.000
17,001690,1997-09-30,037833100,APPLE INC,1997.0,9.0,NaT,NaT,0000320193,4233.000
18,001690,1998-09-30,037833100,APPLE INC,1998.0,9.0,NaT,NaT,0000320193,4289.000
19,001690,1999-09-30,037833100,APPLE INC,1999.0,9.0,NaT,NaT,0000320193,5161.000
20,001690,2000-09-30,037833100,APPLE INC,2000.0,9.0,NaT,NaT,0000320193,6803.000
21,001690,2001-09-30,037833100,APPLE INC,2001.0,9.0,NaT,NaT,0000320193,6021.000
22,001690,2002-09-30,037833100,APPLE INC,2002.0,9.0,NaT,NaT,0000320193,6298.000
23,001690,2003-09-30,037833100,APPLE INC,2003.0,9.0,NaT,2003-09-27,0000320193,6815.000
24,001690,2004-09-30,037833100,APPLE INC,2004.0,9.0,NaT,2004-09-25,0000320193,8050.000
25,001690,2005-09-30,037833100,APPLE INC,2005.0,9.0,NaT,2005-09-24,0000320193,11551.000
26,001690,2006-09-30,037833100,APPLE INC,2006.0,9.0,2007-01-01,2006-09-30,0000320193,17205.000
27,001690,2007-09-30,037833100,APPLE INC,2007.0,9.0,2007-11-16,2007-09-29,0000320193,25347.000
28,001690,2008-09-30,037833100,APPLE INC,2008.0,9.0,2008-11-05,2008-09-27,0000320193,39572.000
29,001690,2009-09-30,037833100,APPLE INC,2009.0,9.0,2009-10-30,2009-09-26,0000320193,47501.000

### Second Try

Compustat Identifiers 1/2:
1. GVKEY: Global Company Key (Compustat company identifier)
2. DATADATE: Reporting date for a data record in Xpressfeed; 
    * For example, for annual company data items this item equals the fiscal period end date. For security level data this item equals the trade date for high, low, close prices. This item is a key field used to retrieve specific data records from the database.
3. DATAFMT: Data Format Code 
    * Refere to [Xpressfeed Data Guide](https://w3.loibl.com/uni/xf_understanding_the_data.pdf)
    * It is very important for us that the data is Standardized in the same format.

Compustat Identifiers 2/2:

4. POPSRC: Used only for the North American population (POPSRC='D')
5. INDFMT: Whether a company reports in a Financial Services or Industrial format.
    * *"This allows you to view a company (such as Aetna) as an industrial company or as a financial serves company with all the associated data items, thus making it easier to dissect a company."*
6. CONSOL: Company's financial statements represent consolidated or nonconsolidated information.
    * In general, we are interested in the consolidated information.
    * consol='C'

* Look at the Apple example

In [7]:
fund_table = 'funda'
varlist = ['cusip', 'conm', 'fyear', 'fyr', 'fdate', 'apdedate', 'cik', 'indfmt', 'datafmt', 'popsrc', 'consol','at']
query_apple = """SELECT gvkey, datadate, {}
                 FROM comp.{}
                 WHERE GVKEY='001690'
                 """.format(", ".join(varlist), fund_table)
compa2 = db.raw_sql(query_apple, date_cols=['datadate', 'fdate', 'apdedate'])
del(fund_table, query_apple)

In [8]:
compa2[20:30]

,gvkey,datadate,cusip,conm,fyear,fyr,fdate,apdedate,cik,indfmt,datafmt,popsrc,consol,at
20,001690,2000-09-30,037833100,APPLE INC,2000.0,9.0,NaT,NaT,0000320193,INDL,STD,D,C,6803.0
21,001690,2001-09-30,037833100,APPLE INC,2001.0,9.0,NaT,NaT,0000320193,INDL,STD,D,C,6021.0
22,001690,2001-09-30,037833100,APPLE INC,2001.0,9.0,NaT,NaT,0000320193,INDL,SUMM_STD,D,C,NaN
23,001690,2002-09-30,037833100,APPLE INC,2002.0,9.0,NaT,NaT,0000320193,INDL,SUMM_STD,D,C,NaN
24,001690,2002-09-30,037833100,APPLE INC,2002.0,9.0,NaT,NaT,0000320193,INDL,STD,D,C,6298.0
25,001690,2003-09-30,037833100,APPLE INC,2003.0,9.0,NaT,2003-09-27,0000320193,INDL,STD,D,C,6815.0
26,001690,2003-09-30,037833100,APPLE INC,2003.0,9.0,NaT,NaT,0000320193,INDL,SUMM_STD,D,C,NaN
27,001690,2004-09-30,037833100,APPLE INC,2004.0,9.0,NaT,2004-09-25,0000320193,INDL,STD,D,C,8050.0
28,001690,2004-09-30,037833100,APPLE INC,2004.0,9.0,NaT,NaT,0000320193,INDL,SUMM_STD,D,C,NaN
29,001690,2005-09-30,037833100,APPLE INC,2005.0,9.0,NaT,2005-09-24,0000320193,INDL,STD,D,C,11551.0

* Download only what we need based on [keysets](https://www.crsp.org/products/documentation/keysets)

In [9]:
fund_table = 'funda'
varlist = ['cusip', 'conm', 'fyear', 'fyr', 'fdate', 'apdedate', 'cik','at']
query_apple = """SELECT gvkey, datadate, {}
                 FROM comp.{}
                 WHERE datafmt = 'STD'
                 AND popsrc = 'D'
                 AND indfmt = 'INDL'
                 AND consol = 'C'
                 AND GVKEY='001690';
                 """.format(", ".join(varlist), fund_table)
compa3 = db.raw_sql(query_apple, date_cols=['datadate', 'fdate', 'apdedate'])
del(fund_table, query_apple)

* Always look at your data: plot, plot and plot

In [17]:
%matplotlib inline
compa3.set_index('fyear')['at'].plot(title='Apple Total Assets', grid=True)

NameError: name 'compa3' is not defined

## Good Habit in Research

* Make your paper replicable 
    * Always write a data appendix
    
* Make sure that you can replicate your own work
    * Always write a data appendix
    * Comment your code